body {
  font: 14px Arial, sans-serif;
  background-image: url('img/dotted-background.png');
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.1em;
}
a, a:link, a:visited {
  background: lightblue;
  display: block;
  padding: .5em;
  font-weight: bold;
  color: #999;
} 
a:hover, a:active {
  background: darkblue;
  display: block;
  padding: .5em;
  font-weight: bold;
  color: #fff;
} 
#logo {
  width: 10%;
  float: left;
}

#logo a:link, #logo a:visited {
  background: none;
}
#logo a:hover, #logo a:active {
  background: none;
}

#infoTextArea {
  float: left;
  margin: 1em;
  width: 50%;
}
#TestArea {
  float: left;
  margin: 1em;
  width: 10%;
}
#TestDetailArea {
  float: left;
  margin: 1em;
  width: 80%;
}
#PreferencesArea {

}
#ResultsList {
  float: left;
  margin: 1em;

}
#MajorResultArea {
  float: left;
  margin: 1em;
  width: 34%;
}
#GraphResultArea {
  float: left;
  margin: 1em;
  width: 50%;
}
